<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../../public/styles/landing-page.css">
        <link rel="stylesheet" href="./../../public/styles/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Bellota+Text:ital,wght@0,300;1,300&family=Bungee&display=swap" rel="stylesheet">
        <title>KLG Informática - Sua opção em tecnologia!</title>
    </head>

    <body>
        <div id="main-title">
            <h1 id="header-title">KLG Informatica</h1>
            <nav>
                <ul id="menu">
                    <li><a href="/services">Serviços</a></li>
                    <li><a href="">Referências</a></li>
                    <li><a href="/schedule">Agende uma consulta</a></li>
                </ul>
            </nav>
        </div>

        <div id="main-content">
            <h2>Procurando um sistema para sua empresa? Aqui nós temos!</h2>
            <p>Nossos engenheiros de software irão fazer de tudo para tornar o seu sistema o melhor possível <br>
                Garantimos sigilo total do código fonte, e com nossa promoção, daremos suporte técnico de graça por 6 meses!</p>
                <img src="./../../public/assets/software.jpg" alt="Engenheiro de software">
                <a href="/schedule">Gostou?<br> Clique e agende uma consulta!</a>
        </div>

        <div class="sub-content" id="first-child">
            <img src="./../../public/assets/formating.jpg" alt="Formatando">
            <h3>Precisando dar aquela formatada no pc? Nós fazemos</h3>
            <p>Formatamos computadores,fazemos limpeza e quaisquer outros tipos de manutenção em hardware/software.</p>
            <a href="/schedule">Gostou?<br> Clique e agende uma consulta!</a>
        </div>

        <div class="sub-content">
            <img src="./../../public/assets/perifericos.jpg" alt="perifericos">
            <h3>Afim de dar aquela  turbinada no seu setup?</h3>
            <p>Na nossa loja temos todo tipo de periférico, dos mais baratos até os high-end.</p>
            <a href="/schedule">Gostou?<br>Clique e agende uma <br> consulta!</a>
        </div>
    <script src="./../../public/scripts/index.js"></script>
    </body>

</html>