<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../../public/styles/references-style.css">
        <link rel="stylesheet" href="./../../public/styles/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Bellota+Text:ital,wght@0,300;1,300&family=Bungee&display=swap" rel="stylesheet">
        <title>Empresas que confiam em nossos serviços</title>
    </head>

    <body> 
        <div id="main-title">
            <h1 id="header-title">KLG Informatica</h1>
            <nav>
                <ul id="menu">
                    <li><a href="/services">Serviços</a></li>
                    <li><a href="/references">Referências</a></li>
                    <li><a href="/schedule">Agende uma consulta</a></li>
                </ul>
            </nav>
        </div>

        <h1>Empresas que confiam em nossos serviços</h1>
        <div id="card-container">
            <div class="card">
                <h2>Food+ StreetFood</h2>
                <img src="./../../public/assets/foodtruck.jpg" alt="foodtruck">
                <h3>Serviços prestados: </h3>
                <p>
                    Criação de aplicativo. <br>
                    Criação de sistema para o caixa.
                </p>
            </div>

            <div class="card">
                <h2>AgroBrasil - Financiamentos rurais</h2>
                <img src="./../../public/assets/agro.jpg" alt="agro">
                <h3>Serviços prestados: </h3>
                <p>
                    Criação de sistema para a empresa. <br>
                    Criação de site para vendas online.
                </p>
            </div>


            <div class="card">
                <h2>DaVinci Engenharia Civil</h2>
                <img src="./../../public/assets/engenharia.jpg" alt="engenharia">
                <h3>Serviços prestados: </h3>
                <p>
                    Criação de sistema para a empresa. <br>
                    Criação de software.
                </p>
            </div>

            <div class="card">
                <h2>FutePlus <br> Escolinha de futebol</h2>
                <img src="./../../public/assets/futebol.jpg" alt="futebol">
                <h3>Serviços prestados: </h3>
                <p>
                    Criação de sistema para a empresa. <br>
                </p>
            </div>


            <div class="card">
                <h2>Sindicato dos <br> taxistas</h2>
                <img src="./../../public/assets/taxi.jpg" alt="agro">
                <h3>Serviços prestados: </h3>
                <p>
                    Criação de site. <br>
                    Manutenção nos sistemas (1 ano).
                </p>
            </div>

            
            <div class="card">
                <h2>Gother Enterprise</h2>
                <img src="./../../public/assets/empresa.jpg" alt="agro">
                <h3>Serviços prestados: </h3>
                <p>
                    Criação de sistema para a empresa. <br>
                    Criação de site para vendas online. <br>
                </p>
            </div>
        </div>
    </body>

</html>