<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../../public/styles/succes-page-style.css">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Bellota+Text:ital,wght@0,300;1,300&family=Bungee&display=swap" rel="stylesheet">
        <title>Consulta Registrada!</title>
    </head>
    <body>
        <div id="schedule-confirmation">
            <h1>Seu agendamento foi concluído com sucesso!</h1>
            <a href="/" id="return-button"> <img src="./../../public/assets/confirmation.svg" alt=""></a>
            <p>Agora você só precisa aguardar o contato de nossos técnicos! :)</p>
            <p>Obs: O contato demora em média 24 horas para acontecer, tenha paciência, 
                faremos o possível para sermos o mais rápido possível! ;)</p>
            <p>Clique na imagem de confirmação para voltar a página principal</p>
            </div>
    </body>
</html>