<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./../../public/styles/service-page-style.css">
        <link rel="stylesheet" href="./../../public/styles/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;800&family=Bellota+Text:ital,wght@0,300;1,300&family=Bungee&display=swap" rel="stylesheet">
        <title>Conheça nossos serviços!</title>
    </head>
    <body>

        <div id="main-title">
            <h1 id="header-title">KLG Informatica</h1>
            <nav>
                <ul id="menu">
                    <li><a href="/services">Serviços</a></li>
                    <li><a href="/references">Referências</a></li>
                    <li><a href="/schedule">Agende uma consulta</a></li>
                </ul>
            </nav>
        </div>

        <div id="services-container">
            <div class="service-card">
                <h1>Sistemas para empresas</h1>
                <img src="./../../public/assets/developer.jpg" alt="">
                <p class="service-description">
                    Precisa de um sistema bom, seguro, e fácil de usar para sua empresa? <br>
                    Aqui na KLG nossos desenvolvedores estarão a postos para ouvir suas necessidades
                    e criar um especialmente para você! <br>
                    Não utilizamos códigos de outros sistemas, todos são criados exclusivamente e com segurança de ponta, <br>
                    utilizando de criptografias e outras formas de manter todos o seu sistema o mais seguro possível!
                    <br> Para saber de preços, agende uma consulta com um de nossos técnicos!
                </p>
            </div>

            <div class="service-card">
                <h1>Criação de sites</h1>
                <img src="./../../public/assets/website.png" alt="">
                <p class="service-description">
                    Então você quer aumentar as possibilidades da sua empresa com um site novinho em folha? <br>
                    Sorte a sua, porque aqui nós possuímos os melhores preços da cidade para criação de sites responsivos e com SEO de qualidade! <br>
                    Nossos sites são construídos com diversas tecnologias, cabendo ao cliente escolher cada uma delas! <br>
                    Se interessou? Vá até o menu e agende uma consulta agora mesmo! 
                </p>
            </div>
            
            <div class="service-card">
                <h1>Manutenção de computadores</h1>
                <img src="./../../public/assets/hardware.jpg" alt="">
                <p class="service-description">
                    Puts, seu pc deu pau? que bad :/ <br>
                    Ainda bem que aqui na KLG nós temos técnicos certificados de prontos para trazer seu amigão devolta! :) <br>
                    Fazemos formatação, remoção de vírus, troca de peças e tudo que um computador precisa para voltar a funcionar!
                </p>
            </div>
        </div>
    </body>
</html>