#main-content {
    width: 90vw;
    padding-bottom: 3vh;
}

#main-content h2, p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main-content h2 {
    font-family: 'Bellota Text', cursive;
    font-size: 38px;
    color: black;
}

#main-content p {
    font-family: 'Roboto';
    font-size: 20px;
    color: rgb(49, 48, 48);
}

#main-content img {
    width: 40vw;
    margin-left: 27%;
    margin-right: 27%;
    border-radius: 100%;
}

#main-content a {
    font-family: 'Bellota Text';
    font-weight: bold;
    font-size: 20px;
    color: rgb(1, 1, 63);
    text-decoration: none;
    text-align: center;
    transition: 600ms;
    border: 0.3px solid rgb(1, 1, 63);

    margin-top: 20px;
    padding: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content a:hover {
    font-size: 22px;
    border-radius: 50px;
}

.sub-content {
    width: 90vw;
    height: auto;
    margin-top: 15vh;
}

.sub-content h3 {
    font-family: 'Bellota Text';
    font-size: 28px;
    text-align: center;
    color: rgba(5, 2, 44, 0.952);
}

.sub-content p {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: lighter;
    color: rgb(129, 129, 129);
}

.sub-content img {
    width: 40vw;
    margin-left: 25%;
    border-radius: 100%;
}

.sub-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    padding: 20px 0px 20px 0px;
    border-radius: 120px;
    text-align: center;
    
    font-size: 20px;
    text-decoration: none;
    color: rgba(3, 14, 37, 0.884);
    background-color: rgb(66, 70, 175);
    transition: 0.7s;
}

.sub-content a:hover {
    font-size: 22px;
    padding: 30px;
}


@media (min-width: 700px) {
    #main-content {
        width: 100%;
        padding: 5vh 0;
        border-top: 1px solid black;
        border-radius: 120px;
        background-color: rgba(24, 101, 104, 0.253);
    }

    #main-content h2, p {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #main-content h2 {
        font-weight: bold;
        color: rgb(3, 3, 43);
    }

    #main-content p {
        font-size: 20px;
        color: rgb(3, 3, 97);
    }

    #main-content img {
        width: 25vw;
        margin-left: 37%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #main-content a {
        border: 0;
        color: black;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #main-content a:hover {
        font-size: 28px;
    }

    .sub-content {
        display: flex;
        align-items: center;
        justify-content: center ;
        width: 100vw;
        max-width: 100%;
        height: auto;
        padding: 0;
        background-color: rgba(46, 46, 168, 0.438);
        border: 0;
        border-bottom: 1px solid black;
        border-radius: 8px;
    }


    .sub-content img {
        display: inline-block;
        width: 10vw;
        margin: 0 1vw;
        padding: 0;
    }


    .sub-content h3, p, a  {
        text-align: center;
        border-right: 1px solid black;
        padding: 3vw 0;
    }

    .sub-content h3 {
        margin-right: 2vw;
        font-size: 28px;
        font-weight: bolder;
        font-family: 'Balloo';
        color: rgb(15, 2, 59);
    }

    .sub-content p {
        color: rgba(255, 255, 255, 0.425);
    }

    .sub-content a {
        width: 50vw;
        background: none;
        border: 0;
        color: rgb(180, 165, 207);
        font-size: 22px;
    }

    .sub-content a:hover {
        font-size: 23px ;
    }


}

    
/* 
#main-content {
    width: 100%;
    background-color: rgba(24, 101, 104, 0.253);
    height: 490px;
    padding-top: 0;
    margin-top: 40px;
}

#main-content h2, p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', cursive;
}

#main-content h2 {
    padding:20px 0px 20px 0px;
    color: rgb(4, 13, 100);
    border-top: 2px solid rgb(5, 2, 48);
    border-left: 2px solid rgb(5, 2, 48);
    border-right: 2px solid rgb(5,2,48);
    background-color: rgba(16, 19, 196, 0.315);
}

#main-content p {
    font-weight: 500;
    color: rgb(1, 23, 48);
}

#main-content img {
    width: 250px;
    margin-left: 40%;
    border-radius: 100%;
}

#main-content a {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 20px;
    color: rgb(4, 3, 83);
    text-decoration: none;
    transition: 200ms;

    margin-top: 20px;
    padding: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content a:hover {
    opacity: 0.7;
}

.sub-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 8px;
    width: 92.5%;
    background-color: rgb(54, 45, 134); 
    border: 3px solid rgba(130, 183, 243, 0.24);
}

.sub-content h3 {
    width: 100%;
    max-width: 20vw;
    display: flex;
    align-items: center;
    font-family: 'Bungee', cursive;
    font-weight: lighter;
    font-size: 28px;
    height: 300px;
    border-right: 3px solid white;
    color: rgb(21, 142, 172);
}

.sub-content p {
    padding: 0px 10px 0px 30px;
    font-family: 'Bellota Text', cursive;
    font-weight: bolder;
    font-size: 22px;
    color: rgba(94, 155, 247, 0.774);
}

.sub-content img {
    width: 300px;
    border-radius: 150px;
}

.sub-content a {
    width: 100%;
    max-width: 250px;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 20px;
    color: rgb(4, 3, 83);
    text-decoration: none;
    transition: 200ms;
    margin-left: 20px;
    background-color: rgba(126, 193, 248, 0.418);
    border-radius: 50px;
    padding: 15px;
}

.sub-content a:hover {
    background-color: rgb(77, 65, 185);
    color: rgb(60, 135, 247);
} */