@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



body {
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: linear-gradient(13deg, rgb(67, 63, 146) 0%, rgba(83,83,164,1) 35%, rgba(37,144,231,1) 68%, rgba(0,212,255,1) 100%);
}

#main-title {
    display: flex;

    flex-direction: column;
    max-width: 74vw;
    width: 100%;
    padding: 3vw 10vw 3vw 10vw;
    text-align: center;
    border-bottom: 1px solid black;
}

#main-title h1 {
    font-family: 'Bungee', cursive;
    color: #0b1116;
    font-size: 38px;
    transition: 2200ms;
    
}
#main-title #menu {
    height: 20vh;
    width: 60vw;
}


#main-title  ul {
    list-style: none;
}

#main-title #menu a {
    font-size: 23px;
    font-family: 'Ubuntu Mono';
    text-decoration: none;
    color: rgb(10, 4, 90);
    transition: 200ms;
    cursor: pointer;
}

#main-title #menu a:hover {
    font-size: 24px;
}

@media (min-width: 700px) {
    #main-title {
        border: 0;
        width: 90%;
        padding: 0px 20px 0px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: inherit;
    }
    
    #main-title h1 {
        text-align: center;
        font-family: 'Bungee', cursive;
        color: rgb(3, 25, 43);
        width: 30vw;
        border-radius: 70%;
    }
    
    #main-title #menu {
        width: 70vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }
    
    #main-title ul li{
        display: inline-block;
        margin-left: 3vw;
    }
    
    #main-title a { 
        border: 0;
        font-family:'Ubuntu Mono';
        font-weight: lighter;
        text-decoration: none;
        font-size: 24px;
        color: rgb(7, 17, 77);
        padding: 10px ;
        margin-bottom: 10px;
        transition: 600ms;
        border-radius: 50px;
    }
    
    #main-title a:hover {
        font-size: 26px;
    }
}

input[type=number]{
    -moz-appearance:textfield; 
}